.game-window{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .control-window{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-end;
    height: 100%;
  }
  
  .score-window{
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100%;
  }
    /*толщина холста — 1 пиксель, белый цвет*/
  canvas {
    background: hsla(0, 0%, 100%, 0.1);
    box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    margin-top: 30px;
  }
  
  #score{
    display: flex;
    width: 120px;
    justify-content: left;
    padding-left: 10px;
    position: relative;
    border-radius: 8px;
    background: hsla(0, 0%, 100%, 0.1);
    backdrop-filter: blur(2px);
    border-color: #64b9d8;
    color: #253e54;
    margin-bottom: 20px;
    margin-left: 20px;
    font-family: Jacques Francois;
    font-weight: bold;
    box-shadow: 0px 4px 5px 3px rgba(0, 0, 0, 0.3);
  }
  
  .control-but{
    display: flex;
    width: 85px;
    justify-content: center;
    position: relative;
    border-radius: 15px;
    background: hsla(0, 0%, 100%, 0.1);
    backdrop-filter: blur(2px);
    border-color: #64b9d8;
    color: #253e54;
    margin-bottom: 20px;
    margin-right: 20px;
    font-family: Jacques Francois;
    font-weight: bold;
    box-shadow: 0px 4px 5px 3px rgba(0, 0, 0, 0.3);
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    -webkit-appearance: none;
    appearance: none;
  }
  
  
  .control-but:focus {
    outline: 0;
  }
  .control-but:before, .control-but:after {
    position: absolute;
    content: "";
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }
  .control-but:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, white 20%, transparent 20%), radial-gradient(circle, transparent 20%, #64b9d8 20%, transparent 30%), radial-gradient(circle, white 20%, transparent 20%), radial-gradient(circle, #64b9d8 20%, transparent 20%), radial-gradient(circle, transparent 10%, white 15%, transparent 20%), radial-gradient(circle, #64b9d8 20%, transparent 20%), radial-gradient(circle, white 20%, transparent 20%), radial-gradient(circle, #64b9d8 20%, transparent 20%), radial-gradient(circle, white 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  }
  .control-but:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, white 20%, transparent 20%), radial-gradient(circle, #64b9d8 20%, transparent 20%), radial-gradient(circle, transparent 10%, white 15%, transparent 20%), radial-gradient(circle, #64b9d8 20%, transparent 20%), radial-gradient(circle, white 20%, transparent 20%), radial-gradient(circle, #64b9d8 20%, transparent 20%), radial-gradient(circle, white 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
  }
  .control-but:active {
    transform: scale(0.9);
    background-color: hsla(203, 60%, 48%, 0.3);;
    box-shadow: 0 2px 25px #64b9d8;
  }
  .control-but.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
  }
  .control-but.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
  }
  
  @keyframes topBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
  @keyframes bottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
  