h2 {
	text-align: center;
}
.inner {
	width: 50px;
	height: 50px;
	font-size: 20px;
	line-height: 50px;
	text-align: center;
	text-transform: uppercase;
	border: 1px solid #333;
	margin: 5px;
	border-radius: 10px;
	cursor: pointer;

	box-shadow: 3px 4px 1px 2px rgba(1,1,1, 0.1);
	user-select: none;
}
table {
	/*margin: 0 auto;*/
	border-collapse: separate !important;
}

.control-div{
	display: flex;
}

.game-window{
    display: flex;
    align-items: center;
    justify-content: center;
	flex-direction: column;
    height: 100%;
}

.control-but{
    display: flex;
    width: 85px;
    justify-content: center;
    position: relative;
    border-radius: 15px;
    background: hsla(0, 0%, 100%, 0.1);
    backdrop-filter: blur(2px);
    border-color: #64b9d8;
    color: #253e54;
    margin-bottom: 20px;
    margin-right: 20px;
	margin-top: 120px;
	margin-left: 20px;
    font-family: Jacques Francois;
    font-weight: bold;
    box-shadow: 0px 4px 5px 3px rgba(0, 0, 0, 0.3);
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    -webkit-appearance: none;
    appearance: none;
}

#win_block {
	display: none;
	text-align: center;
	padding-top: 20px;
	font-size: 20px;
}
#win_block .again{
	font-weight: bold;
	cursor: pointer;
	color: #369;
	border-bottom: 1px solid #369;
}
#win_block .again:hover{
	border-color: transparent;
}

#game {
	position: relative;
	top: 100px;
}
#game .table{
	text-align: -webkit-center;
	position: relative;
}

#game .table .winning{
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(0,200,0, 0.5);

	position: absolute;
	top: 0;
	left: 0;
}

#game table tr:first-child div {
	margin-top: 0;
}
#game table tr:last-child div {
	margin-bottom: 0;
}
#game table tr td:first-child div {
	margin-left: 0;
}
#game table tr td:last-child div {
	margin-right: 0;
}

.control-but:focus {
    outline: 0;
  }
  .control-but:before, .control-but:after {
    position: absolute;
    content: "";
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }
  .control-but:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, white 20%, transparent 20%), radial-gradient(circle, transparent 20%, #64b9d8 20%, transparent 30%), radial-gradient(circle, white 20%, transparent 20%), radial-gradient(circle, #64b9d8 20%, transparent 20%), radial-gradient(circle, transparent 10%, white 15%, transparent 20%), radial-gradient(circle, #64b9d8 20%, transparent 20%), radial-gradient(circle, white 20%, transparent 20%), radial-gradient(circle, #64b9d8 20%, transparent 20%), radial-gradient(circle, white 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  }
  .control-but:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, white 20%, transparent 20%), radial-gradient(circle, #64b9d8 20%, transparent 20%), radial-gradient(circle, transparent 10%, white 15%, transparent 20%), radial-gradient(circle, #64b9d8 20%, transparent 20%), radial-gradient(circle, white 20%, transparent 20%), radial-gradient(circle, #64b9d8 20%, transparent 20%), radial-gradient(circle, white 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
  }
  .control-but:active {
    transform: scale(0.9);
    background-color: hsla(203, 60%, 48%, 0.3);;
    box-shadow: 0 2px 25px #64b9d8;
  }
  .control-but.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
  }
  .control-but.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
  }
  
  @keyframes topBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
  @keyframes bottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }

